---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { sanitizeTitle } from "../../scripts/sanitizeTitle";
import { Image } from "astro:assets";
import jyzznProfilePicture from "../../assets/jyzzn-profile-picture.png";
import remmiProfilePicture from "../../assets/remmi-drawn.jpeg";
import nexProfilePicture from "../../assets/nex.jpg";
import hopperProfilePicture from "../../assets/hopper.jpeg";
import johanProfilePicture from "../../assets/Johan.jpeg";
import mustafaProfilePicture from "../../assets/mustafa.png";
import zaraProfilePicture from "../../assets/Zara.jpeg";
import barbProfilePicture from "../../assets/barb.jpg";
import otaggProfilePicture from "../../assets/otagg-profile.jpg";
import mordredProfilePicture from "../../assets/mordred.jpeg";
import eledainaProfilePicture from "../../assets/eledaina.jpg";
import benedyktProfilePicture from "../../assets/benedykt-profile-picture.png";
import ashlinProfilePicture from "../../assets/ashlin.jpg";

const johan = {
  name: "Johan",
  profilePicture: johanProfilePicture,
  link: "/characters/johan",
};

const zara = {
  name: "Zara",
  profilePicture: zaraProfilePicture,
  link: "/characters/zara",
};

const eledaina = {
  name: "Eledaina",
  profilePicture: eledainaProfilePicture,
  link: "/characters/eledaina",
};

const dungeonsOfDrakkenheimCast = [
  {
    name: "Nex",
    profilePicture: nexProfilePicture,
    link: "/characters/nex",
  },
  {
    name: "Remmi",
    profilePicture: remmiProfilePicture,
    link: "/characters/remmi",
  },
  {
    name: "Jyzzn",
    profilePicture: jyzznProfilePicture,
    link: "/characters/jyzzn",
  },
];

const spriteRescueMissionCast = [
  johan,
  zara,
  {
    name: "Hopper",
    profilePicture: hopperProfilePicture,
    link: "/characters/hopper",
  },
  {
    name: "Mustafa",
    profilePicture: mustafaProfilePicture,
    link: "/characters/mustafa",
  },
  {
    name: "Barb",
    profilePicture: barbProfilePicture,
    link: "/characters/barb",
  },
];

const partyList = [
  {
    name: "Dungeons of Drakkenheim",
    cast: dungeonsOfDrakkenheimCast,
  },
  {
    name: "Sprite Rescue Mission",
    cast: spriteRescueMissionCast,
  },
  {
    name: "Terror in Tierhaven",
    cast: [
      {
        name: "Otagg",
        profilePicture: otaggProfilePicture,
        link: "/characters/otagg",
      },
      {
        name: "Mordred",
        profilePicture: mordredProfilePicture,
        link: "/characters/mordred",
      },
      eledaina,
      johan,
      zara,
    ],
  },
  {
    name: "The Search",
    cast: [
      johan,
      zara,
      eledaina,
      {
        name: "Benedykt",
        profilePicture: benedyktProfilePicture,
        link: "/characters/benedykt",
      },
      {
        name: "Ashlin",
        profilePicture: ashlinProfilePicture,
        link: "/characters/ashlin",
      },
    ],
  },
];
---

<BaseLayout title="Characters">
  <p>Here you will see the characters and links to their specific sites</p>
  {
    partyList.map((party) => (
      <>
        <h3>{party.name}</h3>
        <div class="character-list-container">
          {party.cast.map((character) => (
            <div class="card">
              <a href={character.link}>
                <Image
                  src={character.profilePicture}
                  alt={`${character.name} profile picture`}
                  class="profile-picture"
                />
                <div
                  class="character-name"
                  style={`view-transition-name: ${sanitizeTitle(character.name)}`}
                >
                  {character.name}
                </div>
              </a>
            </div>
          ))}
        </div>
      </>
    ))
  }
</BaseLayout>

<style>
  .card {
    padding: 1rem;
    position: relative;
  }

  .character-name {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background-color: var(--map-link-bg-hover);
    border-radius: var(--size-8);
    color: var(--map-link-icon-color);
    font-size: 1.25rem;
  }

  .character-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-256), 1fr));
    gap: 1rem;
  }

  .profile-picture {
    max-width: 100%;
    object-fit: cover;
    max-height: 400px;
    border-radius: var(--size-8);
  }
</style>
