---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { sanitizeTitle } from "../../scripts/sanitizeTitle";
import { Image } from "astro:assets";
import jyzznProfilePicture from "../../assets/jyzzn-profile-picture.png";
import remmiProfilePicture from "../../assets/remmi-drawn.jpeg";
import nexProfilePicture from "../../assets/nex.jpg";
import hopperProfilePicture from "../../assets/hopper.jpeg";
import johanProfilePicture from "../../assets/Johan.jpeg";
import mustafaProfilePicture from "../../assets/mustafa.png";
import zaraProfilePicture from "../../assets/Zara.jpeg";
import barbProfilePicture from "../../assets/barb.jpg";
import otaggProfilePicture from "../../assets/otagg-profile.jpg";
import mordredProfilePicture from "../../assets/mordred.jpeg";
import eledainaProfilePicture from "../../assets/eledaina.jpg";
---

<BaseLayout title="Characters">
  <p>Here you will see the characters and links to their specific sites</p>
  <div class="character-list-container">
    <div class="card">
      <a href="/characters/nex">
        <Image
          src={nexProfilePicture}
          alt="Nex profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Nex")}`}
        >
          Nex
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/remmi">
        <Image
          src={remmiProfilePicture}
          alt="Remmi profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Remmi")}`}
        >
          Remmi
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/jyzzn">
        <Image
          src={jyzznProfilePicture}
          alt="Jyzzn profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Jyzzn")}`}
        >
          Jyzzn
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/hopper">
        <Image
          src={hopperProfilePicture}
          alt="Hopper profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Hopper")}`}
        >
          Hopper
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/johan">
        <Image
          src={johanProfilePicture}
          alt="Johan profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Johan")}`}
        >
          Johan
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/mustafa">
        <Image
          src={mustafaProfilePicture}
          alt="Mustafa profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Mustafa")}`}
        >
          Mustafa
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/zara">
        <Image
          src={zaraProfilePicture}
          alt="Zara profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Zara")}`}
        >
          Zara
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/barb">
        <Image
          src={barbProfilePicture}
          alt="Barb profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Barb")}`}
        >
          Barb
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/otagg">
        <Image
          src={otaggProfilePicture}
          alt="Otagg profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Otagg")}`}
        >
          Otagg
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/mordred">
        <Image
          src={mordredProfilePicture}
          alt="Mordred profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Mordred")}`}
        >
          Mordred Nowhere
        </div>
      </a>
    </div>
    <div class="card">
      <a href="/characters/eledaina">
        <Image
          src={eledainaProfilePicture}
          alt="Eledaina profile picture"
          class="profile-picture"
        />
        <div
          class="character-name"
          style={`view-transition-name: ${sanitizeTitle("Eledaina")}`}
        >
          Eledaina
        </div>
      </a>
    </div>
  </div>
</BaseLayout>

<style>
  .card {
    padding: 1rem;
    position: relative;
  }

  .character-name {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 1rem;
    background-color: var(--map-link-bg-hover);
    border-radius: var(--size-8);
    color: var(--map-link-icon-color);
    font-size: 1.25rem;
  }

  .character-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-256), 1fr));
    gap: 1rem;
  }

  .profile-picture {
    max-width: 100%;
    object-fit: cover;
    max-height: 400px;
    border-radius: var(--size-8);
  }
</style>
