---
import BaseLayout from '../layouts/BaseLayout.astro';
import MarkdownLink from "../components/MarkdownLink.astro";

const allEstablishments = await Astro.glob('../pages/establishments/*.md')
const allMisc = await Astro.glob('../pages/misc/*.md')
const allShops = await Astro.glob('../pages/shops/*.md')

---

<BaseLayout title="Emberwood Village">
    <!-- TODO: add the map of emberwood, make a grid on top of it and put the links into the quadrants where their respective house is-->
    <!-- todo: add view page transitions, if possible ->
        - https://docs.astro.build/en/guides/view-transitions/
        - https://docs.astro.build/en/tutorials/add-view-transitions/
    -->
    <h2>Shops</h2>
    <ul>
        {allShops.map((shop) => <MarkdownLink url={shop.url} title={shop.frontmatter.title} />)}
    </ul>

    <h2>Hotels, Bars und Restaurants</h2>
    <ul>
        {allEstablishments.map((establishment) => <MarkdownLink url={establishment.url} title={establishment.frontmatter.title} />)}
    </ul>

    <h2>Anderweitig interessante Orte</h2>
    <ul>
        {allMisc.map((misc) => <MarkdownLink url={misc.url} title={misc.frontmatter.title} />)}
    </ul>
</BaseLayout>
