---
import BaseLayout from '../layouts/BaseLayout.astro';
import MarkdownLink from "../components/MarkdownLink.astro";
import MapLink from "../components/MapLink.astro";

const allEstablishments = await Astro.glob('../pages/establishments/*.md')
const allMisc = await Astro.glob('../pages/misc/*.md')
const allShops = await Astro.glob('../pages/shops/*.md')

---

<BaseLayout title="Emberwood Village">
    <!-- todo: add view page transitions, if possible ->
        - https://docs.astro.build/en/guides/view-transitions/
        - https://docs.astro.build/en/tutorials/add-view-transitions/
    -->
    <div class="map-container">
        <img class="image" src="/images/02_EMBERWOOD_VILLAGE_NOGRID.jpg" alt="Map of Emberwood" />
        {[...allEstablishments, ...allShops, ...allMisc]
            .filter((establishment) => establishment.frontmatter.columnStart && establishment.frontmatter.columnEnd && establishment.frontmatter.rowStart && establishment.frontmatter.rowEnd)
            .map((establishment) => <MapLink url={establishment.url} frontmatter={establishment.frontmatter} />)}

    </div>
    <h3>Shops</h3>
    <ul>
        {allShops.map((shop) => <MarkdownLink url={shop.url} title={shop.frontmatter.title} disabled={shop.frontmatter.disabled}/>)}
    </ul>

    <h3>Hotels, Bars und Restaurants</h3>
    <ul>
        {allEstablishments.map((establishment) => <MarkdownLink url={establishment.url} title={establishment.frontmatter.title} disabled={establishment.frontmatter.disabled}/>)}
    </ul>

    <h3>Anderweitig interessante Orte</h3>
    <ul>
        {allMisc.map((misc) => <MarkdownLink url={misc.url} title={misc.frontmatter.title} disabled={misc.frontmatter.disabled} />)}
    </ul>
</BaseLayout>

<style>
    .map-container {
        display: grid;
        grid-template-columns: repeat(48, 1fr);
        grid-template-rows: repeat(36, 1fr);
    }
    .image{
        width: 100%;
        height: auto;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
</style>