---
import BaseLayout from "../layouts/BaseLayout.astro";
import MarkdownLink from "../components/MarkdownLink.astro";
import MapLink from "../components/MapLink.astro";
import { MarkdownInstance } from "astro";
import { Image } from "astro:assets";
import emberwoodVillageMap from "../assets/02_EMBERWOOD_VILLAGE_NOGRID.jpg";
import { getCollection } from "astro:content";

const allEstablishments = await getCollection("establishments");
const allMisc = await getCollection("misc");
const allShops = await getCollection("shops");

const getGridRowSpanStyle = (
  shops: MarkdownInstance<Record<string, unknown>>[],
) => `grid-row: span ${3 + shops.length}`;
---

<BaseLayout title="Emberwood Village">
  <div class="map-container">
    <Image class="image" src={emberwoodVillageMap} alt="Map of Emberwood" />
    {
      [
        ...allEstablishments.map((establishment) => ({
          data: establishment.data,
          url: `/establishments/${establishment.slug}`,
        })),
        ...allShops.map((shop) => ({
          data: shop.data,
          url: `/shops/${shop.slug}`,
        })),
        ...allMisc.map((misc) => ({
          data: misc.data,
          url: `/misc/${misc.slug}`,
        })),
      ]
        .filter(
          (establishment) =>
            establishment.data.columnStart &&
            establishment.data.columnEnd &&
            establishment.data.rowStart &&
            establishment.data.rowEnd,
        )
        .map((establishment) => (
          <MapLink url={establishment.url} frontmatter={establishment.data} />
        ))
    }
  </div>

  <!-- Todo: use icon prop for below links (need to fix the size)-->
  <div class="shop-list">
    <div class="card" style={getGridRowSpanStyle(allShops)}>
      <h3>Shops</h3>
      <ul>
        {
          allShops.map((shop) => (
            <MarkdownLink
              url={`/shops/${shop.slug}`}
              title={shop.data.title}
              disabled={shop.data.disabled}
              icon={shop.data.icon}
            />
          ))
        }
      </ul>
    </div>

    <div class="card" style={getGridRowSpanStyle(allEstablishments)}>
      <h3>Hotels, Bars und Restaurants</h3>
      <ul>
        {
          allEstablishments.map((establishment) => (
            <MarkdownLink
              url={`/establishments/${establishment.slug}`}
              title={establishment.data.title}
              disabled={establishment.data.disabled}
              icon={establishment.data.icon}
            />
          ))
        }
      </ul>
    </div>

    <div class="card" style={getGridRowSpanStyle(allMisc)}>
      <h3>Anderweitig interessante Orte</h3>
      <ul>
        {
          allMisc.map((misc) => (
            <MarkdownLink
              url={`/misc/${misc.slug}`}
              title={misc.data.title}
              disabled={misc.data.disabled}
              icon={misc.data.icon}
            />
          ))
        }
      </ul>
    </div>
  </div>
</BaseLayout>

<style>
  .map-container {
    display: grid;
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: repeat(36, 1fr);
    overflow: auto;
  }

  .image {
    width: 100%;
    height: auto;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    border-radius: 10px;
  }

  .shop-list {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: auto;
  }

  .card {
    margin: 0.5rem;
  }
</style>
