---
import { Icon } from 'astro-icon/components';
import {sanitizeTitle} from "../scripts/sanitizeTitle";

type Props = {
    url: string;
    frontmatter: {
        title: string;
        columnStart: number;
        columnEnd: number;
        rowStart: number;
        rowEnd: number;
        disabled?: boolean;
        icon?: string;
        iconSize?: string;
    }
}

const { url, frontmatter } = Astro.props;
const { title, columnStart, columnEnd, rowStart, rowEnd, disabled, icon } = frontmatter;
const iconSize = frontmatter.iconSize || "2rem";
const isSvg = icon?.endsWith(".svg");
const iconNameWithoutExtension = icon?.split(".")[0];
const iconTransitionName = `view-transition-name: ${sanitizeTitle(icon ?? "")}`;

---

{
    disabled
        ? <div class="disabledDiv" >???</div>
        : <a class="mapLink" href={url}>{ icon
            ? isSvg
                ? <Icon name={iconNameWithoutExtension} height={iconSize} width={iconSize} style={iconTransitionName}/>
                : <img style={iconTransitionName} src={`/icons/${icon}`} alt={icon} />
            : title
        }
    </a>
}

<style define:vars={{columnStart, columnEnd, rowStart, rowEnd, iconSize, icon}}>
    .mapLink {
        grid-column: var(--columnStart) / var(--columnEnd);
        grid-row: var(--rowStart) / var(--rowEnd);
        background-color: oklch(76.99% 0.08 226.91 / 0.5);
        color: oklch(17.64% 0.032 304.82);
        display: grid;
        place-items: center;
        font-size: 0.5rem;
        border-radius: 5px;
    }

    .mapLink:hover {
        background-color: oklch(76.99% 0.08 226.91 / 0.8);
    }

    .disabledDiv {
        grid-column: var(--columnStart) / var(--columnEnd);
        grid-row: var(--rowStart) / var(--rowEnd);
        background-color: oklch(61.72% 0.0307 226.91 / 30%);
        color: oklch(85% 0.0379 304.82);
        display: grid;
        place-items: center;
        font-size: 0.5rem;
        border-radius: 5px;
    }

    img {
        height: var(--iconSize);
        color: red;
    }
</style>