---
import {sanitizeTitle} from "../scripts/sanitizeTitle";
import InlineIcon from "./InlineIcon.astro";

const {url, title, disabled, icon} = Astro.props;
const viewTransitionNameStyle = `view-transition-name: ${sanitizeTitle(title)}`;

---
<li>
    {
        disabled
            ? <span style={viewTransitionNameStyle}>???</span>
            : <a href={url} style={viewTransitionNameStyle}><InlineIcon icon={icon} />{title}</a>
    }
    <slot />
</li>

<style>
    span {
        color: oklch(60% 0.0379 304.82);
        cursor: default;
    }
</style>