---
import {sanitizeTitle} from "../scripts/sanitizeTitle";
const {url, title, disabled} = Astro.props;
const viewTransitionNameStyle = `view-transition-name: ${sanitizeTitle(title)}`;
---
<li>
    {disabled ? <span>???</span> : <a href={url} style={viewTransitionNameStyle}>{title}</a>}
    <slot />
</li>

<style>
    span {
        color: oklch(60% 0.0379 304.82);
        cursor: default;
    }
</style>