---
import {achievedPrerequisites} from "../scripts/spellPrerequisites";
import MarkdownLink from "./MarkdownLink.astro";
import {getSpellSchoolIconName} from "../scripts/spellUtils";
import InlineIcon from "./InlineIcon.astro";

type Props = {
    url: string,
    frontmatter: {
        title: string,
        ritual?: boolean,
        disabled: boolean,
        school: string,
        prerequisites: string[]
    }
}

const { spell } = Astro.props;

---
<MarkdownLink url={spell.url} title={spell.frontmatter.title} disabled={spell.frontmatter.disabled} icon={getSpellSchoolIconName(spell.frontmatter.school)}>
    {
        spell.frontmatter.ritual ? <InlineIcon icon="pentagram.svg" size="1rem" slot="postfix" /> : null
    }
    {
        spell.frontmatter.prerequisites && spell.frontmatter.prerequisites.length > 0
            ?
                <ul>
                    {spell.frontmatter.prerequisites.map((prerequisite) => <li>{achievedPrerequisites.includes(prerequisite) ? prerequisite : "???"}</li>)}
                </ul>
            : null
    }
</MarkdownLink>