---
import '../styles/global.css';
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import {sanitizeTitle} from "../scripts/sanitizeTitle";
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
	icon?: string;
}

const { title, icon } = Astro.props;
const titleTransitionName = `view-transition-name: ${sanitizeTitle(title)}`;
const iconTransitionName = `view-transition-name: ${sanitizeTitle(icon ?? "")}`;

const isSvg = icon?.endsWith(".svg");
const iconNameWithoutExtension = icon?.split(".")[0];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/deliriumCrystal.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<main class="smaller-width">
			{icon ?
				<div class="headline-container">{
					isSvg
						? <Icon name={iconNameWithoutExtension} style={iconTransitionName} />
						: <img src={`/icons/${icon}`} alt={icon} style={iconTransitionName}/>
				}
					<h2 style={titleTransitionName}>{title}</h2>
				</div> :
				<h2 style={titleTransitionName}>{title}</h2>
			}
			<slot />
		</main>
	</body>
</html>

<style define:vars={{icon}}>
	img {
		height: 4rem;
	}

	[data-icon] {
		height: 4rem;
		width: 4rem;
	}

	.headline-container {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	.smaller-width {
		max-width: 80ch;
		margin: 0 auto;
	}
</style>
