---
import BaseLayout from "./BaseLayout.astro";
import {getLevelString, getSpellSchoolIconName} from "../scripts/spellUtils";
import InlineIcon from "../components/InlineIcon.astro";

type Props = {
  frontmatter: {
    title: string;
    ritual?: boolean;
    level: number;
    school: string;
    castingTime: string;
    range: string;
    components: string;
    duration: string;
  };
};

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  icon={getSpellSchoolIconName(frontmatter.school)}
>
  {
    frontmatter.ritual ? (
      <InlineIcon icon="pentagram.svg" size="2rem" slot="headline-postfix" />
    ) : null
  }
  <p><em>{getLevelString(frontmatter.level)}</em> <em>{frontmatter.school}</em></p>
  <p><strong>Casting Time:</strong> {frontmatter.castingTime}</p>
  <p><strong>Range:</strong> {frontmatter.range}</p>
  <p><strong>Components:</strong> {frontmatter.components}</p>
  <p><strong>Duration:</strong> {frontmatter.duration}</p>
  <slot />
</BaseLayout>
